@mixin umekomi-top($thin:2px,$op1:0.2,$op2:0.3){
  border-top: $thin solid rgba(0,0,0,$op1);
  @include box-shadow( 0px $thin rgba(255,255,255,$op2));
  }
@mixin umekomi-left($thin:2px,$op1:0.2,$op2:0.3){
  border-left: $thin solid rgba(0,0,0,$op1);
  @include box-shadow( -$thin  0px rgba(255,255,255,$op2));
}
@mixin umekomi-right($thin:2px,$op1:0.2,$op2:0.3){
  border-right: $thin solid rgba(0,0,0,$op1);
  @include box-shadow( -$thin  0px rgba(255,255,255,$op2));
}
@mixin umekomi-bottom($thin:2px,$op1:0.2,$op2:0.3){
  border-bottom: $thin solid rgba(0,0,0,$op1);
  @include box-shadow( 0px $thin rgba(255,255,255,$op2));
}