.top_back_image
  .row
    .col-md-1
    .col-md-10
      .header.pull-left
        .col-md-7
          = image_tag "img/title.png", class: "header__title"
        .col-md-2
          = image_tag "img/facebook.png", class: "header__facebook"
        .col-md-2
          = image_tag "img/twitter.png", class: "header__twitter"
.bottom_back_image