.bottom-back-image{
  height: 700px;
  width: auto;
  /* Firefox */
  background: url(/assets/img/footer.png), -moz-linear-gradient(top center, #8e5424 0%, #4f2a0d 100%);
  /* Chrom と Safari */
  background: url(/assets/img/footer.png), -webkit-gradient(linear, center top, center bottom, from(#8e5424), to(#4f2a0d));
  /* 共通 */
  background: url(/assets/img/footer.png), linear-gradient(top center, #8e5424 0%, #4f2a0d 100%);
  background-position: top center;
  background-repeat: no-repeat;
}