$sub-header-margin: 10px;
$sub-header-height: 62px;
$characters-body-side-margin: 18px;
.characters-body{
  clear: both;
  background-color: rgba(255,255,255,0.65);
  position: relative;
  height: (((746px - $sub-header-margin)  * 2) - ($sub-header-height * 2));

  .characters-body__title{
    margin: 30px 30px;
  }


  .characters-body__board{
    margin: 20px ((63px - $characters-body-side-margin) / 4);
    margin-bottom: 50px;
  }
  .characters-body__board--right{
    @extend .characters-body__board;
    margin-right: $characters-body-side-margin;
  }
  .characters-body__board--left{
    @extend .characters-body__board;
    margin-left: $characters-body-side-margin;
  }


}