.content-body--form{
  @extend .content-body;
  max-height: 550px;
  .content-body--form__title{
    margin: 30px 30px;
  }
  .content-body--form__box{
    margin: 20px 0px;
    .content-body--form__box__img{
    }
    .content-body--form__box__btn{
      margin: 0px 15px
    }
  }
}
