$content-body--character-side-margin: 25px;

.content-body--character{
  @extend .content-body;
  .content-body--character__title{
    margin: 18px 30px;
  }
  .content-body--character__board{
    margin: 15px ((112px - ($content-body--character-side-margin * 2)) / 4);
    margin-bottom: 58px;
  }
  .content-body--character__board--right{
    @extend .content-body--character__board;
    margin-right: $content-body--character-side-margin;
  }
  .content-body--character__board--left{
    @extend .content-body--character__board;
    margin-left: $content-body--character-side-margin;
  }
}