$content-body--sample__dl--center-margin: 15px;
$content-body--sample__dl--side-margin: 30px;
.content-body--sample{
  @extend .content-body;
  position: relative;
  .content-body--sample__title{
    margin: 30px 30px;
  }
  .content-body--sample__dl1{
    position: relative;
    margin-right: $content-body--sample__dl--center-margin;
    margin-left: $content-body--sample__dl--side-margin;
  }
  .content-body--sample__btn1{
    position: absolute;
    top: 180px;
    right: 350px;

  }
  .content-body--sample__dl2{
    position: relative;
    margin-right: $content-body--sample__dl--side-margin;
    margin-left: $content-body--sample__dl--center-margin;
  }
  .content-body--sample__btn2{
    position: absolute;
    top: 180px;
    right: 60px;
  }
  .game-list{
      width: 960px;
      margin-right: auto;
      margin-left: auto;
    .game{
      float:left;
      position: relative;
      width: 245px;
      min-height: 300px;
      margin: 15px 37.5px;
      a:hover{
       color: #16aef0;
      }
      a{
        text-decoration: none;
        color: #555;
        .game__play-btn{
          position: absolute;
          width: 95px;
          margin-top: 20px;
          left: 31%;
          opacity: 0.95;
        }
        img{
          width: 245px;
        }
        .title{
          margin: 2px 0px 4px 0px;
          font-weight: 600;
        }
      }
    }
  }
}