.content-body--development{
  @extend .content-body;
  .content-body--development__title{
    margin: 30px 30px;
  }
  .content-body--development__tab{
    margin: 0px 15px;
  }
  .umekomisen{
    @include umekomi-top(2px,0.3,1);
    margin: 5px;
  }
}