$content-body--sample__dl--center-margin: 15px;
$content-body--sample__dl--side-margin: 30px;
.content-body--sample{
  @extend .content-body;
  position: relative;
  .content-body--sample__title{
    margin: 30px 30px;
  }
  .content-body--sample__dl1{
    position: relative;
    margin-right: $content-body--sample__dl--center-margin;
    margin-left: $content-body--sample__dl--side-margin;
  }
  .content-body--sample__btn1{
    position: absolute;
    top: 180px;
    right: 350px;

  }
  .content-body--sample__dl2{
    position: relative;
    margin-right: $content-body--sample__dl--side-margin;
    margin-left: $content-body--sample__dl--center-margin;
  }
  .content-body--sample__btn2{
    position: absolute;
    top: 180px;
    right: 60px;
  }
  .game-list{
    float: left;
    .game{
      width: 320px;
      a{
        .game__play-btn{
          position: relative;
          top: 50px;
          left: 178px;
        }
        img{

        }
        .title{

        }
      }
      div{

      }
    }
  }
}