.content-body--development{
  @extend .content-body;
  .content-body--development__title{
    margin: 30px 30px;
  }
  .content-body--development__tab{
    margin: 0px 15px;
    border: 4px solid #a5a5a5;
    width: 215px;
    .border-bottom{
      border-bottom: 1px solid #a5a5a5;
    }
    img:hover{
      opacity: 0.9;
    }
  }
  .umekomisen{
    @include umekomi-top(1px,0.3,1);
    margin: 5px;
  }
  .kaihatutekisuto{
    margin: 20px 0px;
    .tekisuto-img{
      display: inline-block;
      vertical-align: top;
      .tekisuto{
        width: 220px;
        height: 240px;
        border: 1px solid #ccc;
        background-color: #fff;
      }
      .download-btn{
        margin-top: 20px
      }
    }
    .tekisuto-tc{
      display: inline-block;
      vertical-align: top;
      margin-left: 50px;
      img{
        width: 300px;
      }
    }
  }
}