.header{
  width: 100%;
  .header__title{
    margin: 50px 0px;
    margin-left: -60px
  }
  .header__cloud{
    position: absolute;
  }
  .header__facebook{
    @extend .header__cloud;
    margin-top: 50px;
    margin-left: 20px;
  }
  .header__twitter{
    @extend .header__cloud;
    right: 0;
    margin-top: 80px;
  }

}
