.header{
  width: 100%;
  .header__title{
    width: 550px;
    height: auto;
    margin: 50px 0px;
  }
  .header__cloud{
    width: 185px;
    hegiht: auto;
  }
  .header__facebook{
    @extend .header__cloud;
    margin: 60px 0px;
  }
  .header__twitter{
    @extend .header__cloud;
    margin: 120px 0px;
  }

}
