$holes__hole--side-margin: 230px;
$holes__hole--top-margin: 70px;
$holes__hole--center-margin: ((502px - ($holes__hole--side-margin * 2)) / 2);

.holes{
  .holes__hole{
  }
  .holes__hole1{
  }
  .holes__hole2{
  }
  .holes__hole3{
  }
}