.top-back-image{
  background-image: url(/assets/img/back.png);
  background-size: 1422px 746px;
  width: auto;
  min-height: 746px;
  background-position: center top;
  background-repeat: no-repeat;
}