.footer
  .row
    .col-xs-6
      .declar.pull-left
        = link_to "ライセンス", "#"
        \|
        = link_to "利用規約", "#"
        \|
        = link_to "プライバシーポリシー", "#"
    .col-xs-6
      .company.pull-right
        Created by Daraf & Sponsord by Microsoft.

